## Dataframe

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm','Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})

### Step 1: Assigning values to Column 'FlightNumber' and converting to int

In [2]:
x = df['FlightNumber']
for i in range(1,len(x)):
    new = int(x[i-1])
    x[i] = x[i-1] + 10
x=x.astype(int)
df['FlightNumber'] = x

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

### Step 2: Splitting "From_To" to "From" and "To" columns

In [3]:
df_temp = pd.DataFrame(columns = ['From','To'])
x = df['From_To']
for i in range(0,len(x)):
    l = x[i].split("_")
    df_temp = df_temp.append({'From': l[0], 'To': l[1]}, ignore_index=True)
df_temp

       From         To
0    LoNDon      paris
1    MAdrid      miLAN
2    londON  StockhOlm
3  Budapest      PaRis
4  Brussels     londOn

### Step 3: Capitalizing and correcting "From" & "To" Columns

In [4]:
df_temp['From'] = df_temp['From'].str.lower()
df_temp['From'] = df_temp['From'].str.capitalize()
df_temp['To'] = df_temp['To'].str.lower()
df_temp['To'] = df_temp['To'].str.capitalize()
df_temp

       From         To
0    London      Paris
1    Madrid      Milan
2    London  Stockholm
3  Budapest      Paris
4  Brussels     London

### Step 4: Dropping "From_To" & adding "From" & "To"

In [5]:
df.drop(['From_To'], axis=1,inplace=True)
df.insert(0, 'From', df_temp['From'])
df.insert(1, 'To', df_temp['To'])

### Step 5: Expanding "RecentDelays" to "Delay_n"

In [6]:
delays = pd.DataFrame(df['RecentDelays'].values.tolist())
dic = {}
for i in range(delays.shape[1]):
    key = delays.columns[i]
    val = "Delay_" + str(i+1)
    dic[key] = val
dic

{0: 'Delay_1', 1: 'Delay_2', 2: 'Delay_3'}

In [7]:
delays.rename(columns=dic,inplace=True)

In [8]:
df.drop('RecentDelays',axis=1, inplace=True)

In [9]:
for i in range(3,6):
    df.insert(i, 'Delay_'+str(i-2) ,delays['Delay_'+str(i-2)])

In [10]:
df

,From,To,FlightNumber,Delay_1,Delay_2,Delay_3,Airline
0,London,Paris,10045,23.0,47.0,NaN,KLM(!)
1,Madrid,Milan,10055,NaN,NaN,NaN,<Air France> (12)
2,London,Stockholm,10065,24.0,43.0,87.0,(British Airways. )
3,Budapest,Paris,10075,13.0,NaN,NaN,12. Air France
4,Brussels,London,10085,67.0,32.0,NaN,"""Swiss Air"""